<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <title>Trang chủ</title>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-8">
    <div class="container-fluid">
        <a class="navbar-brand text-warning" href="javascript:void(0)">Lu Tea</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                {% for c in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">{{c.name}}</a>
                </li>
                {% endfor %}
            </ul>
            <form class="d-flex" method="get" action="/" >
                <input class="form-control me-2" type="text" name="kw" placeholder="Nhập từ khóa">
                <button class="btn btn-warning" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<section class="mt-12">
    <div class="container mt-8">
        <div class="row">
            {% for p in products %}
            <div class="col-md-4 col-xs-10">

                <div class="card">
                    <img class="card-img-top" src="{{p.image}}" alt="Card image"
                         style="max-width:400px;max-height:400px">
                    <div class="card-body">
                        <h4 class="card-title">{{p.name}}</h4>
                        <p class="card-text">Giá: {{p.price}}</p>
                        <div>
                            <a href="/products/{{p.id}}" class="btn btn-primary">Xem chi tiết</a>
                            <a href="#" class="btn btn-primary">Đặt hàng</a>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</section>

</body>
</html>